@{
  Layout = "_Layout";
}
<h2>Add an Inventory Item</h2>
<hr />
<form  action="/drinks" method="post">
  <label for="drink">New drink:</label>
  <input type="text" name="drink" required>

  <button type="submit" name="button">Submit</button>

</form>
