<!DOCTYPE html>
<html>
<head>
  <link href="~/css/bootstrap.css" rel ="stylesheet" type="text/css" media="all">
  <link href="~/css/styles.css" rel="stylesheet" type="text/css" media="all">
  <link href="sticky-footer.css" rel="stylesheet">
  <script src="~/js/jquery-3.3.1.js"></script>
  <script src="~/js/bootstrap.js"></script>
  <title>Coffee Shop</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Employee
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/order/new">New Order</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/order">View Orders</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
<<<<<<< HEAD
            <a class="dropdown-item" href="/drinks/new">Add New Drink Name</a>
            <a class="dropdown-item" href="/drinks">View Drink Names</a>
            <a class="dropdown-item" href="/inventory/new">Add New Inventory Item</a>
            <a class="dropdown-item" href="/inventory">View Inventory</a>
            <a class="dropdown-item" href="/ingredients/new">Create Drink Recipe</a>
            <a class="dropdown-item" href="/ingredients">All Drink Recipes</a>

=======
            <a class="dropdown-item" href="/departures/new">New Menu Item</a>
            <a class="dropdown-item" href="/departures">View Menu</a>
            <a class="dropdown-item" href="#">Change Menu</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Delete Menu Item</a>
            <a class="dropdown-item" href="/ingredients">Test Ingredients</a>
>>>>>>> drink
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container container-margin container-padding">

  @RenderBody()

  </div>
  <footer class="footer">
    <nav>
      <li>The CoffeeHouse on the bay</li>
    </nav>
  </footer>
  </html>
