@{
  Layout = "_Layout";
}
<h1>Our recipe list</h1>

@if (Model.Count != 0)
{
  <ol>
    @foreach (var drink in Model["drinks"])
    {
      <li>@drink.GetName() || <a href="/ingredients/@drink.GetId()/info" class="deleteAction" >View Ingredients</a></li>
    }

 </ol>
}
