
@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <!-- <img src="/img/seattle.jpg" alt=""> -->
  <h1>Coffee Shop</h1>
  <h4>Point</h4>
  <h4>Of</h4>
  <h4>Sale</h4>
</div>

<div class="container">
  <div class="row">

    <h4 class="col-md-12">User Login:</h4>


      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Username</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
          <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Password</span>
        </div>
        <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
      </div>
      <a href="/menu">
        <button class="btn btn-secondary">Submit</button>
      </a>



    <!-- End of Row -->
  </div>
  <!-- End of Container -->
</div>
