.container-padding {
  margin: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #eee;
  padding-left: 30px;
}

nav {
  display: flex;
  list-style: none;
}
